@model PARKJS.WORK.STUDY04.Models.Actress.Actress_JP

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Actress_JP</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Actr_JP_ID" />
            <div class="form-group">
                <label asp-for="CategoryId" class="control-label"></label>
                <input asp-for="CategoryId" class="form-control" />
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProfessionalName" class="control-label"></label>
                <input asp-for="ProfessionalName" class="form-control" />
                <span asp-validation-for="ProfessionalName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Age" class="control-label"></label>
                <input asp-for="Age" class="form-control" />
                <span asp-validation-for="Age" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BirthDay" class="control-label"></label>
                <input asp-for="BirthDay" class="form-control" />
                <span asp-validation-for="BirthDay" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nationality" class="control-label"></label>
                <input asp-for="Nationality" class="form-control" />
                <span asp-validation-for="Nationality" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rate" class="control-label"></label>
                <input asp-for="Rate" class="form-control" />
                <span asp-validation-for="Rate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ranking" class="control-label"></label>
                <input asp-for="Ranking" class="form-control" />
                <span asp-validation-for="Ranking" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ActivityTime_From" class="control-label"></label>
                <input asp-for="ActivityTime_From" class="form-control" />
                <span asp-validation-for="ActivityTime_From" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ActivityTime_To" class="control-label"></label>
                <input asp-for="ActivityTime_To" class="form-control" />
                <span asp-validation-for="ActivityTime_To" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RegistDate" class="control-label"></label>
                <input asp-for="RegistDate" class="form-control" />
                <span asp-validation-for="RegistDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UpdateDate" class="control-label"></label>
                <input asp-for="UpdateDate" class="form-control" />
                <span asp-validation-for="UpdateDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
